.card-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: auto;
  max-width: 1200px;
}
.tree-svg {
  height: 80vh;
  max-width: 80vw;
}
body {
  margin: 0;
  font-family: 'Kosugi Maru', sans-serif;
  color: #895e29;
  line-height: 1.8em;
  background: url(img/background.svg);
  background-color: #e2f2e4;
  background-size: 10%;
}
.kazari {
  cursor: pointer;
  transition: all .2s;
}
.kazari:hover {
  opacity: .8;
}

#present-l {
  animation: yure 4s ease-in-out infinite alternate;
}
#present-m {
  animation: yure 4.5s ease-in-out infinite -3s alternate;
}
#present-s {
  animation: yure 5s ease-in-out infinite -5s alternate;
}

@keyframes yure {
  0% {transform: translate(2px);}
  85% {transform: translate(2px);}
  90% {transform: translate(-2px);}
  95% {transform: translate(2px);}
  100% {transform: translate(-2px);}
}

#kazari-s {
  transform-origin: 350px 500px;
  animation: rotate 2s ease-in-out infinite alternate;
}
#kazari-l {
  transform-origin: 290px 300px;
  animation: rotate 2.5s ease-in-out -1s infinite alternate;
}
#bell-s {
  transform-origin: 350px 130px;
  animation: rotate 1.5s ease-in-out infinite alternate;
}
#bell-l {
  transform-origin: 140px 700px;
  animation: rotate 2s ease-in-out -1s infinite alternate;
}
@keyframes rotate {
  0% {transform: rotate(6deg);}
  100% {transform: rotate(-6deg);}
}

.merrychristmas {
  width: 70%;
  display: block;
  margin: 0 auto 2rem;
}
.text {
  padding: 4rem 2rem;
  background: #fffcf4;
  border-radius: 4px;
  font-size: 1.2rem;
  line-height: 1.8em;
  display: none;
  transition: all .3s;
  position: absolute;
  overflow: auto;
  margin: 1rem;
  z-index: 1;
  max-width: 800px;
  box-shadow: 0 0 16px rgba(209, 177, 137, 56%);
}
.close-x {
  cursor: pointer;
  text-align: right;
  display: block;
  transform: translateY(-1em);
  color: #f0485b;
  font-weight: bold;
}
.message-close-x {
  cursor: pointer;
  text-align: right;
  display: block;
  color: #f0485b;
  font-weight: bold;
}
.letter {
  width: 80%;
  position: relative;
  height: calc(100vh - 2rem);
  display: flex;
  align-items: center;
}
.letter-img {
  cursor: pointer;
  width: 30%;
  max-width: 200px;
  margin: auto;
  display: block;
}
.letter-svg {
  overflow: initial;
  width: 100%;
}
#text-check {
  display: none;
}
#letter-top {
  transition: all .6s;
  transform-origin: 0 6%;
}
#text-check:checked ~ .letter #letter-top {
  transform: rotateX(180deg) rotateZ(2deg);
}
#text-check:checked ~ .text {
  display: block;
  animation: letter-open .6s ease-in-out forwards;
}
@keyframes letter-open {
  0% {opacity: 0;}
  75% {opacity: 0;}
  100% {opacity: 1;}
}

.message {
  background-image:
  linear-gradient(
    180deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 96%,
    #ffead0 96%,
    #ffead0 100%
  );
  background-size: 100% 1.8em;
}
.message p {
  margin-bottom: 1.8em;
}
.message-name {
  text-align: right;
}
.message-name img {
  width: 12rem;
}

@media screen and (max-width: 900px) {
  .card-cover {
    flex-wrap: wrap;
    padding: 1rem 20px;
  }
  .text {
    margin-bottom: 4rem;
    top: 0;
    height: calc(100vh - 2rem);
    box-sizing: border-box;
    left: 0;
    right: 0;
  }
  .letter {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
}

.messagebox {
  display: none;
  padding: 2rem;
  max-height: 80vh;
  width: calc(100% - 2rem);
  box-sizing: border-box;
  max-width: 800px;
  background: #fffcf4;
  border-radius: 4px;
  font-size: 1.2rem;
  line-height: 1.8em;
  position: absolute;
  overflow: auto;
  margin: 1rem;
  z-index: 1;
  box-shadow: 0 0 16px rgba(209, 177, 137, 56%);
  animation: show .2s ease-out forwards;
}

@media screen and (max-width: 800px) {
  .messagebox {
    left: 0;
    right: 0;
  }
}
@keyframes show {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.messagebox img {
  max-width: 60vw;
  min-width: 40%;
  max-height: 50vh;
  display: block;
  margin: auto;
}
.visible {
  display: block;
}

.tree {
  padding: 0 5%;
}
.footer {
  font-family: sans-serif;
  text-align: center;
}
