.tree-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e2f2e4;
  padding: 0 2rem;
}
.tree-cover svg {
  height: 80vh;
  width: 80vw;
}
body {
  margin: 0;
  font-family: 'Kosugi Maru', sans-serif;
  color: #895e29;
  line-height: 1.8em;
}
.kazari {
  cursor: pointer;
}

#present-l {
  animation: yure 2s ease-in-out infinite alternate;
}
#present-m {
  animation: yure 3s ease-in-out infinite alternate;
}
#present-s {
  animation: yure 2.2s ease-in-out infinite alternate;
}

@keyframes yure {
  0% {transform: translate(4px);}
  60% {transform: translate(4px);}
  80% {transform: translate(-4px);}
  90% {transform: translate(4px);}
  100% {transform: translate(-4px);}
}

#kazari-s {
  transform-origin: 350px 500px;
  animation: rotate 2s ease-in-out infinite alternate;
}
#kazari-l {
  transform-origin: 290px 300px;
  animation: rotate 2.5s ease-in-out -1s infinite alternate;
}
@keyframes rotate {
  0% {transform: rotate(6deg);}
  100% {transform: rotate(-6deg);}
}
.merrychristmas {
  width: 70%;
  display: block;
  margin: 0 auto 2rem;
}
.text {
  padding: 6rem 2rem;
  background: #fffcf4;
  border-radius: 4px;
  font-size: 1.2rem;
  line-height: 1.8em;
  width: 60%;
}
.message {
  background-image:
  linear-gradient(
    180deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 96%,
    #ffead0 96%,
    #ffead0 100%
  );
  background-size: 100% 1.8em;
}
.message p {
  margin-bottom: 1.8em;
}
